.xplan-field-revealer .bubble
{
   display: inline-block;
   position: relative;
   padding: 5px;
   background: #ffffaa;
   border: #2b2929 solid 1px;
}

.xplan-field-revealer .bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #ffffaa transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -10px;
}

.xplan-field-revealer .bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #2b2929 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -11px;
}

.xplan-field-revealer{
    margin-top: 10px;
    margin-bottom: 5px;
}

.xfr-title{
    font-weight: bold;
}
.xfr-value{
}